<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
<div>
<form action="/authentication" method="post">
            Email:<input type="email" name="email"><br>
            Password:<input type="password" name="password"><br>
            
            <input type="submit" value="Sign In">
        <a href="/signup">    <input type="button" value="Sign Up"></a><br>
         <a href="/forget">Forgot password?</a>
        </form>
</div>
    
</body>
</html>